.content {
    width: 85vw;
    padding: 48px 0;
}

main {
    position: relative;

    .open {
        display: block;
    }
    
    article {
        display: none;
        animation: reveal 1.5s cubic-bezier(0.77, 0, 0.175, 1);

        .articleTitle {
            font-family: $walsheim-reg;
            font-size: 1.3rem;
            color: $grey;
        }

        .articleContent {
            max-width: 800px;
            width: 85vw;

            p {
                font-family: $karla;
                font-size: 1.1rem;
                line-height: 1.4;
                color: $grey;
                margin-top: 4px;
                
                @media only screen and (max-width: 620px) {
                    font-size: 1rem;
                }
            }
        }

        a {
            text-decoration: none;
            font-size: 1.1rem;
            color: $grey;
            position: relative;
            display: inline-block;

            &:hover {
                color: $rorange;

                &:after {
                    content: "";
                    position: absolute;
                    width: 100%;
                    height: 1px;
                    top: 0;
                    left: 0;
                    color: $rorange;
                    background-color: $rorange;
                    border-radius: 8px;
                }
            }

            &:before {
                content: "";
                position: absolute;
                width: 100%;
                height: 1px;
                bottom: 0;
                left: 0;
                color: $rorange;
                background-color: $rorange;
                border-radius: 8px;
                transition: all 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55);
            }
        }

        ul {
            padding-left: 0;
        }

        li {
            list-style: none;
            position: relative;
 
            a {
                text-decoration: none;
                text-transform: uppercase;
                font-size: 1.1rem;
                color: $grey;
                font-family: $walsheim-reg;
                line-height: 1.6;
                position: relative;
                display: inline-block;
                
                &:hover {
                    color: $rorange;

                    &:after {
                        content: "";
                        position: absolute;
                        width: 100%;
                        height: 1px;
                        top: 0;
                        left: 0;
                        color: $rorange;
                        background-color: $rorange;
                        border-radius: 8px;
                    }
                }

                &:before {
                    content: "";
                    position: absolute;
                    width: 100%;
                    height: 1px;
                    bottom: 0;
                    left: 0;
                    color: $rorange;
                    background-color: $rorange;
                    border-radius: 8px;
                }
            }
        } 
    }

    @keyframes reveal {
        0% {
            opacity: 0;
        }
        100% {
            opacity: 1;
        }
    }
}