body {
    background-color: $cream;
}

.viewport {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    overflow-x: hidden;
}

.navbar {
    position: fixed;
    top: 0;
    right: 0;
    z-index: 11;

    .toggleMenu {
        position: fixed;
        top: 32px;
        right: 32px;
        width: 56px;
        height: 56px;
        border-radius: 50%;
        background-color: $rorange;
        display: block;
        cursor: pointer;
        transition: opacity 0.2s linear;

        &:hover > span {
            background-color: $cream;
        }

        span {
            display: block;
            height: 4px;
            width: 40px;
            border-radius: 40px;
            background-color: $grey;
            position: absolute;
            top: 16px;
            right: 8px;
            overflow: hidden;
            transition: all 0.4s ease;

            &:nth-child(1) {
                z-index: 9;
            }

            &:nth-child(2) {
                margin-top: 11px;
                right: 8px;
            }

            &:nth-child(3) {
                margin-top: 22px;
                right: 8px;
            }
        }

        ul {
            position: absolute;
            transition: all 0.8s cubic-bezier(0.68, -0.55, 0.265, 1.55);
            height: 0;
            width: 0;
            right: 0;
            top: 0;
            background-color: rgba(41, 41, 41, 0.54);
            border-radius: 50%;
            z-index: 18;
            overflow: hidden;
            text-align: right;

            .menuItem  {
                font-family: $karla;
                display: block;
                height: auto;
                text-transform: uppercase;
                line-height: 1.6;
                transition: all 0.5s cubic-bezier(0.68, -0.55, 0.265, 1.55);
                position: relative;

                a {
                    color: $cream;
                    font-size: 1.4rem;
                    width: 100%;
                    text-align: right;
                    margin: 8px 0;
                    text-decoration: none;
                    position: relative;

                    &:hover {
                        color: $cream;

                        &:after {
                            content: "";
                            position: absolute;
                            width: 100%;
                            height: 1px;
                            top: 0;
                            left: 0;
                            color: $rorange;
                            background-color: $rorange;
                            border-radius: 8px;
                        }

                        &:before {
                            content: "";
                            position: absolute;
                            width: 100%;
                            height: 1px;
                            bottom: 0;
                            left: 0;
                            color: $rorange;
                            background-color: $rorange;
                            border-radius: 8px;
                        }
                    }
                }

                &:first-child {
                    margin-top: 196px;
                }
            }
        }

        &.opened {
            
            span {

                &:nth-child(1) {
                    transform: rotate(45deg) translateY(12px) translateX(12px);
                    z-index: 100;
                    top: 9px;
                }

                &:nth-child(2) {
                    height: 400px;
                    width: 400px;
                    right: -160px;
                    top: -160px;
                    border-radius: 50%;
                    background-color: rgba(41, 41, 41, 0.54);
                    overflow: visible;
                }

                &:nth-child(3) {
                    transform: rotate(-45deg) translateY(-10px) translateX(10px);
                    z-index: 100;
                    margin-top: 24px;
                }
            }

            ul {
                opacity: 1;
                height: 400px;
                width: 400px;

                .menuItem {
                    margin-right: 168px;
                }
            }
        }
    }
}

header {
    padding: 32px 0;

    h1 {
        font-family: $walsheim-med;
        font-size: 4.5rem;
        color: $grey;
        margin: 16px 0;
    }
    
    .subhead {
        font-family: $karla;
        font-size: 1.4rem;
        line-height: 1.2;
        color: $rorange;
        max-width: 700px;
        margin: 4px;

        @media only screen and (max-width: 860px) {
            font-size: 1.2rem;
        }

        @media only screen and (max-width: 620px) {
            font-size: 1.1rem;
        }
    }
}