$rorange: #ff370c;
$cream: #f6f0ea;
$grey: #292929;

@font-face {
    font-family: "Karla Reg";
    src: url("../../../assets/fonts/karla-regular-webfont.woff") format("woff");
}
$karla: "Karla Reg";


@font-face {
    font-family: "GT Walsheim Light";
    src: url("../../../assets/fonts/gt-walsheim-light.woff") format("woff"); 
}
$walsheim-light: "GT Walsheim Light";

@font-face {
    font-family: "GT Walsheim Reg";
    src: url("../../../assets/fonts/gt-walsheim-regular.woff") format("woff"); 
}
$walsheim-reg: "GT Walsheim Reg";

@font-face {
    font-family: "GT Walsheim Med";
    src: url("../../../assets/fonts/gt-walsheim-medium.woff") format("woff"); 
}
$walsheim-med: "GT Walsheim Med";