$sml: ( max: 570px );
$med: ( max: 680px );
$lrg: ( max: 750px );

$green: #316347;
$blue: #cce7ce;
$coral: #f16d68;
$cream: #f6f0ea;
$eggshell: #f3f1e2;
$grey: #292929;

@font-face {
    font-family: "Apercu";
    src: url("../../../assets/fonts/apercu-light-pro.woff") format("woff"),
    url("../../../assets/fonts/apercu-light-pro.woff2") format("woff2");
}
$apercu: "Apercu";

@font-face {
    font-family: "Canela";
    src: url("../../../assets/fonts/Canela-Regular.woff") format("woff");
}
$canela: "Canela";

@font-face {
    font-family: "GT Pressura Mono";
    src: url("../../../assets/fonts/GT-Pressura-Mono.otf") format("opentype");
}
$pressura: "GT Pressura Mono";

$bodyFont: 'Source Code Pro', monospace; // weights: 300, 400
